[Desktop Entry]
Name=WmCDplay
Comment=CD player
Comment[pl]=Odtwarzacz płyt CD
Exec=wmcdplay -w -s
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
