[Desktop Entry]
Name=WmCDplay
Comment=CD player
Comment[pl]=Odtwarzacz płyt CD
Exec=wmcdplay -w -s
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
